{% extends 'base.html' %}

{% block title %}Create New Post {% endblock title %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-6 mb-5 px-0 text-center">
        <h2 class="display-4 text-secondary">Create New Post</h2>
    </div>

    <div class="col-md-6 mt-4 mx-4">
        {% if form %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create the Post" class="btn btn-success">
        </form>
        {% endif %}
    </div>
</div>

{% endblock content %}